<turbo-frame id="<%= dom_id(@todo) %>">
  <%= form_with(model: @todo) do |form| %>
  
    <div class="field">
      <%= form.text_field :content %>
      <%= form.submit %>
    </div>
  
  <% end %>
</turbo-frame>
