<p id="notice"><%= notice %></p>

<h1>Todos</h1>
<%= turbo_stream_from :todos %>

<div id="todos">
  <%= render @todos %>
</div>

<turbo-frame id="create-todo">
  <%= render 'form', todo: Todo.new %>
</turbo-frame>
